/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Import Custom Fonts */
@font-face {
  font-family: Quentin;
  src: url('../fonts/Quentin.otf');
}

/* Global Styles */
/* font */
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

a,
button,
.btn {
  font-family: 'Roboto', sans-serif;
}

.font-handwriting {
  font-family: 'Quentin', sans-serif;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* color */
.text-light {
  color: #e5e5e5 !important;
}

.bg-light {
  background: #e5e5e5 !important;
}

.border-light {
  border-color: #e5e5e5 !important;
}

.btn-light {
  background: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}

.btn-light:hover {
  background: #cccccc !important;
  border-color: #cccccc !important;
}

.text-primary {
  color: #f86624 !important;
}

.bg-primary {
  background: #f86624 !important;
}

.border-primary {
  border-color: #f86624 !important;
}

.btn-primary {
  background: #f86624 !important;
  border-color: #f86624 !important;
}

.btn-primary:hover {
  background: #e44d07 !important;
  border-color: #e44d07 !important;
}

.text-secondary {
  color: #f43315 !important;
}

.bg-secondary {
  background: #f43315 !important;
}

.border-secondary {
  border-color: #f43315 !important;
}

.btn-secondary {
  background: #f43315 !important;
  border-color: #f43315 !important;
}

.btn-secondary:hover {
  background: #cd240a !important;
  border-color: #cd240a !important;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.border-black {
  border-color: #000 !important;
}

.btn-black {
  background: #000 !important;
  border-color: #000 !important;
}

.btn-black:hover {
  background: #1a1a1a !important;
  border-color: #1a1a1a !important;
}

/* btn-book-now */
.btn-book-now {
  padding: 0;
  display: flex;
  font-size: 1.3rem;
}

.btn-book-now img {
  padding: .375rem .75rem .375rem .75rem;
}

.btn-book-now span {
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  border-color: #fff;
  padding: .375rem .75rem .375rem .75rem;
}

.btn-book-now.btn-sm {
  font-size: 0.8rem;
}

/* .h1-margin-bottom */
h1.h1-margin-bottom {
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
  display: inline-block;
}

h1.h1-margin-bottom::after {
  content: "";
  height: 2px;
  width: 120%;
  background-color: #f86624;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: translate(-7.5%, 0);
}

/* Custom Styles */
/* #header */
#header {
  background-image: url('../images/scissor.png'), url('../images/overlay.png'), url('../images/slider1.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center, center;
  background-size: 60%, cover, cover;
}

#header h1 {
  font-size: 3.125rem;
}

/* #top-menu */
#top-menu {}

/* #main-menu */
#main-menu {
  background-color: hsla(0, 0%, 0%, 0.7);
}

#main-menu .nav-link {
  color: #fff;
  font-weight: 700;
}

/* #award */
#award img {
  height: 120px;
}

/* #why-us */
#why-us img {
  height: 120px;
}

/* #contact */
#contact .contact-row {
  font-size: 1.5rem;
}

/* #services */
#services .btn-outline-dark {
  font-size: 1.5rem;
}

/* #team */
#team .team-text {
  transform: translate(0, 50px);
}

#team .team-text h1 {
  font-size: 2.8rem;
}

#team .font-handwriting {
  font-size: 4rem;
  opacity: 0.8;
}