/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Import Custom Fonts */
@font-face {
  font-family: Quentin;
  src: url("../public/fonts/Quentin.otf");
}

/* Global Styles */
/* Slider */
.embla {
  overflow: hidden;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #fff;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: auto;
  height: auto;
  margin: 5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #464646;
  opacity: 1;
}

/* font */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

legend,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a,
button,
.btn {
  font-family: "Roboto", sans-serif;
}

.font-handwriting {
  font-family: "Quentin", sans-serif;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.font-1-3x {
  font-size: 1.3rem;
}

.font-1-5x {
  font-size: 1.5rem;
}

.font-2x {
  font-size: 2rem;
}

/* color */
.text-light {
  color: #e5e5e5 !important;
}

.bg-light {
  background: #e5e5e5 !important;
}

.border-light {
  border-color: #e5e5e5 !important;
}

.btn-light {
  background: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}

.btn-light:hover {
  background: #cccccc !important;
  border-color: #cccccc !important;
}

.text-primary {
  color: #f86624 !important;
}

.bg-primary {
  background: #f86624 !important;
}

.border-primary {
  border-color: #f86624 !important;
}

.btn-primary {
  background: #f86624 !important;
  border-color: #f86624 !important;
}

.btn-primary:hover {
  background: #e44d07 !important;
  border-color: #e44d07 !important;
}

.text-secondary {
  color: #f43315 !important;
}

.bg-secondary {
  background: #f43315 !important;
}

.border-secondary {
  border-color: #f43315 !important;
}

.btn-secondary {
  background: #f43315 !important;
  border-color: #f43315 !important;
}

.btn-secondary:hover {
  background: #cd240a !important;
  border-color: #cd240a !important;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.border-black {
  border-color: #000 !important;
}

.btn-black {
  background: #000 !important;
  border-color: #000 !important;
}

.btn-black:hover {
  background: #1a1a1a !important;
  border-color: #1a1a1a !important;
}

.text-dark-50 {
  color: #4c4a4f !important;
}

.bg-cultured {
  background: #f1f1ef !important;
}

.vh-60 {
  height: 60vh !important;
}

.text-dreamDiver {
  color: #d7d225;
  text-decoration: none;
}

.text-dreamDiver:hover {
  color: #c0bb21;
}

/* #scroll-to-top */
#scroll-to-top {
  position: fixed;
  right: 4vh;
  bottom: 4vh;
  z-index: 100;
  opacity: 0;
}

#scroll-to-top .btn {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

/* btn-book-now */
.btn-book-now {
  padding: 0;
  display: flex;
  font-size: 1.3rem;
}

.btn-book-now img {
  padding: 0.375rem 0.75rem;
}

.btn-book-now span {
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  border-color: #fff;
  padding: 0.375rem 0.75rem;
}

.btn-book-now.btn-sm {
  font-size: 1.25rem;
}

.btn-book-now.btn-lg img {
  padding: 0.375rem 0.75rem 0.375rem 2rem;
}

.btn-book-now.btn-lg span {
  padding: 0.375rem 2rem 0.375rem 0.75rem;
}

.btn-book-now.btn-book-now-footer {
  background-color: warning !important;
  border-color: info !important;
  color: #fff !important;
}

.btn-book-now.btn-book-now-footer span {
  border-color: #000;
}

/* btn-find */
.btn-find {
  padding: 0.375rem 3rem;
}

/* .h1-margin-bottom */
.h1-margin-bottom {
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
  display: inline-block;
}

/* .h2-margin-bottom */
.h2-margin-bottom {
  text-transform: uppercase;
  margin-bottom: 2.8rem;
  position: relative;
  display: inline-block;
}

.h2-margin-bottom::after {
  content: "";
  height: 2px;
  width: 110%;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: translate(-4.5%, 0);
}

.dropdown-menu {
  min-width: unset;
}

/* rounded */
.rounded-4 {
  border-radius: 0.5rem;
}

.rounded-5 {
  border-radius: 0.75rem;
}

.rounded-6 {
  border-radius: 1rem;
}

/* img-overlay */
.img-overlay {
  position: relative;
  margin-bottom: 1.3rem;
  width: fit-content;
}

.img-overlay .overlay {
  background-color: #00000000;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

/* timeline */
.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-circle {
  width: 64px;
  height: 64px;
  background-color: #f86624;
}

.timeline .timeline-line {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 32px;
  background-color: #ffb86f;
  z-index: -1;
}

.timeline .timeline-line-hover {
  width: 100%;
  height: 0;
  max-height: 100%;
  background-color: #000;
}

.timeline .timeline-item-start .timeline-line {
  height: 50%;
  bottom: 0;
}
.timeline .timeline-item-end .timeline-line {
  height: 50%;
  top: 0;
}
.timeline .timeline-box {
  position: relative;
  background-color: #e5e5e5;
}
.timeline .timeline-box .timeline-box-arrow {
  width: 10px;
  height: 10px;
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

/* Custom Styles */
/* #header */
#header h1 {
  font-size: 3.125rem;
}

#header .carousel-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#header .carousel-indicators {
  bottom: -60px;
}

#header .carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#header .carousel-caption {
  bottom: 30%;
}

/* #top-menu */
/* #top-menu {
} */

/* #main-menu */
#main-menu {
  background-color: hsla(0, 0%, 0%, 0.7);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1020;
  width: 100%;
  transition: height 1s ease-out;
}

#main-menu .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  transition: color 750ms ease-in-out;
}

#main-menu .nav-link.active,
#main-menu .nav-link:hover {
  color: hsl(19, 94%, 66%);
}

#main-menu.navbar-shrink {
  background-color: #000;
}

#main-menu .navbar-brand-img {
  transition: width 1s ease-out;
}
#main-menu.without-slider {
  position: sticky;
}
/* #award */
#award img {
  height: 68px;
  width: unset;
}
/*
#award .owl-carousel-icon {
  height: 68px;
}

#award .owl-item.active .owl-carousel-icon {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#award .award-col .hr-v {
  height: 100%;
  width: 1px;
  background-color: #fff;
} */

#award .embla__slide {
  flex: 0 0 50%;
}

/* #why-us */
#why-us img {
  height: 120px;
}

/* #contact */
#contact .contact-row {
  font-size: 1.3rem;
}

/* #services */
#services .btn-outline-dark {
  font-size: 1.5rem;
}

#services .owl-carousel-services {
  position: relative;
}

#services .owl-carousel-services .owl-nav button {
  background: rgba(255, 255, 255, 0.35);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services .owl-carousel-services .owl-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 90%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

#services .embla__button {
  fill: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  padding: 0.5rem;
}
#services .embla__dots {
  padding-top: 0;
}
/* #team */
#team {
  min-height: 400px;
  position: relative;
}

/* #team .team-text {
  transform: translate(0, 50px);
}*/

#team .team-text h1 {
  font-size: 2.8rem;
}

#team .font-handwriting {
  font-size: 4rem;
  opacity: 0.8;
}

#team .embla__dots {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  transform: translate(0, -50%);
  padding-left: 10px;
  padding-right: 10px;
}

#team .embla__dot:after {
  background-color: #464646;
}

#team .embla__dot.is-selected:after {
  background-color: #efefef;
}

/* #how-we-work */
#how-we-work .heading {
  font-size: 2.6rem;
}

#how-we-work .btn-yes {
  background-color: #ffb86f !important;
  border-color: #ffb86f !important;
  color: #212529 !important;
}

/* #review */
#review .quotation {
  font-size: 6.25rem;
  margin-bottom: 8rem;
  font-weight: 100;
}

#review .review-count {
  font-size: 2rem;
}

#review .review-text {
  font-size: 1.8rem;
  font-style: italic;
}

#review .owl-carousel button.owl-dot:not(:last-child) {
  padding-right: 10px !important;
}

.owl-carousel button.owl-dot span {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
}

#review .owl-carousel button.owl-dot span {
  background-color: #fff;
}

#review .owl-carousel button.owl-dot.active span {
  background-color: #464646 !important;
}

#review .owl-dots {
  padding-top: 2rem;
}

/* #lookbook */
/* #lookbook .nav-link {
  color: #f86624;
}

#lookbook .nav-pills .nav-link.active,
#lookbook .nav-pills .show>.nav-link {
  background-color: transparent;
} */

#footer .social-nav a {
  display: inline-block;
}

/* Career Page */
/* application-form-bg-cultured */
.application-form-bg-cultured {
  background-image: url("../public/images/career/form_bg_2.png") !important;
  background-position: center bottom !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  padding-bottom: 50vw !important;
}

/* Lookbook Page */
/* .lookbook-header */
.lookbook-header {
  background-image: url("../public/images/lookbook-page/banner_lookbook.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 90vh;
}

.lookbook-header .header-content {
  width: 43%;
  /* transform: translateY(-15vh); */
}

.header-collapse .header-collapse-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0.75rem;
  text-align: center;
}

.header-collapse .header-collapse-link:hover {
  color: #ffb86f;
}

.header-collapse .header-collapse-link[aria-expanded="true"] {
  background: #3d3d3d;
}

.header-collapse .header-collapse-link i {
  vertical-align: 0.3rem;
}
/*
.lookbook-header .header-content-desc {
  width: 33%;
} */

.header-collapse-nav .nav-link {
  color: #000;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  text-align: center;
}

/* Services Page */
.prices-row .card {
  min-height: 390px;
  cursor: pointer;
  user-select: none;
}

.prices-row .card.active {
  background-color: #000;
  color: #fff !important;
}

.prices-row .card.active .text-black {
  color: #fff !important;
}

.prices-row .card h1 {
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.prices-row-2 .card {
  min-height: 491px;
}

.prices-row .card .bg-white {
  min-height: 333px;
  display: flex;
}

.social-nav .nav-link {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-nav .nav-link:first-child {
  margin-left: 0;
}

.contact-text {
  width: 13.5rem;
}

@media (min-width: 786px) {
  .modal-dialog {
    max-width: 700px;
  }
}
