/* For Tablet And Mobile Size Devices */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }

  #team .embla__dots {
    right: 50%;
  }

  .lookbook-header .header-content {
    width: 100%;
  }

  /* .lookbook-header .header-content-desc {
    width: 100%;
  } */
  #main-menu {
    background-color: #000 !important;
  }

  #main-menu .nav-link {
    font-weight: 700;
  }

  #header .carousel-caption {
    /* bottom: 20%; */
    left: 4%;
    right: 4%;
  }

  #award img {
    height: 110px;
  }

  #header h1 {
    font-size: 2.125rem;
  }

  #review .quotation {
    font-size: 4.25rem;
    margin-bottom: 6rem;
  }

  #review .review-text {
    font-size: 1.5rem;
  }

  #review .review-count {
    font-size: 1.5rem;
  }

  #team .team-text h1 {
    font-size: 2.3rem;
  }

  #team .font-handwriting {
    font-size: 2.5rem;
  }

  .prices-row .card {
    min-height: 282px;
  }

  .prices-row .card h1 {
    font-size: 1.2rem;
  }

  .prices-row .card .card-img {
    min-height: 210px;
  }

  .prices-row .card .card-img img {
    height: 200px;
    width: 100%;
  }
}
/* Only For Mobile Size Devices */
@media (max-width: 767px) {
  #award img {
    height: 48px;
  }
}
